// Your custom SCSS should be written here...
$lightblue: #00aeef;
$green: #6dbe45;
$btn-blue: #0d70a3;
$white: #fff;
$dev-blue: #118ac9;
$design-blue: #1293d6;
$digimark-blue: #149ce3;
$black: #202020;

body {
	font-family: "Cabin-Regular";
	color: $white;
	overflow-x: hidden;
	
	
	a {
		color: $white;
	}
}

.homepage {
	
}	

.services {
	header ul.navigation li a.jnav.nav-1 {
					webkit-transition: border-bottom-color 200ms ease-in;
					-moz-transition: border-bottom-color 200ms ease-in;
					-o-transition: border-bottom-color 200ms ease-in;
					transition: border-bottom-color 200ms ease-in;
					border-bottom: 2px solid $green;
					background: transparent;
	}
}

.about-us {
	header ul.navigation li a.jnav.nav-2 {
					webkit-transition: border-bottom-color 200ms ease-in;
					-moz-transition: border-bottom-color 200ms ease-in;
					-o-transition: border-bottom-color 200ms ease-in;
					transition: border-bottom-color 200ms ease-in;
					border-bottom: 2px solid $green;
					background: transparent;
	}
}

.contact-us {
	header ul.navigation li a.jnav.nav-3 {
					webkit-transition: border-bottom-color 200ms ease-in;
					-moz-transition: border-bottom-color 200ms ease-in;
					-o-transition: border-bottom-color 200ms ease-in;
					transition: border-bottom-color 200ms ease-in;
					border-bottom: 2px solid $green;
					background: transparent;
	}
}

.desktop {
 
   @include respond(all-phones) { 
    display: none; 
  }
}

.tablets {
  @include respond(desktop) { 
    display: none; 
  }
  
   @include respond(all-phones) { 
    display: none; 
  }
}

.phones {
  @include respond(tablets) { 
    display: none; 
  }
  
   @include respond(desktop) { 
    display: none; 
  }
}



.row {
	max-width: 1200px;
}

.navbar {
	background: transparent;
	min-height: 117px;
	margin-bottom: 0;
}

.cta-btn {
	width: 150px;
	height: 50px;
	background: $green;
	/*border: 1px solid #f1f1f1;*/
	border: 0;
	font-family: "Cabin-SemiBold";
	@include font-size(18px);
	text-transform: uppercase;
	color: $white;
	cursor:pointer;
}

.jimmo-bg {
	background: $lightblue;
	
	h1 {
		color: $white !important;
		@include font-size(60px);
		
		@include respond(portrait-tablets) { 
    				@include font-size(40px);
  		}
	}
}

.thejimmo {

	   .custom[class^="icon-"],.custom[class*=" icon-"]{
   		font-family: "TheJimmoIco";
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
   }
   
   i[class^="icon-"], i[class*=" icon-"] {
			display: inline-block;
			position: static;
			min-width: 20px;
			margin: 0 5px;
			text-align: center;
	}
	
	[class^="icon-"] a:before, [class*=" icon-"] a:before, [class^="icon-"] a:after, [class*=" icon-"] a:after, i[class^="icon-"], i[class*=" icon-"]{
			font-family: "entypo";
			position: absolute;
			text-decoration: none;
			zoom: 1;
	}
	
 
   .logo .icon-thejimmo-logo-header {
		    display: block;
			margin: 12px 0 0 96px !important;
			-webkit-font-feature-settings: "liga","dlig";
			-moz-font-feature-settings: "liga=1, dlig=1";
			-moz-font-feature-settings: "liga","dlig";
			-ms-font-feature-settings: "liga","dlig";
			-o-font-feature-settings: "liga","dlig";
			font-feature-settings: "liga","dlig";
			text-rendering: optimizeLegibility;
			@include font-size(79px);
			color: #240b3a;
			}
	
	header{
	@include respond(all-phones) { 
		height: 80px;
	}
	
	
	.logo {
			float: left;
			height: 117px;
			
			a { height: 117px; }
			
			.icon-thejimmo-logo-header:before {
					content: "\e600";
				}
				
			img {
				border: 0;
				margin: 16px 0 0 60px;
				
				@include respond(portrait-tablets) { 
    				margin: 16px auto 0 auto;
  				}
				@include respond(all-phones) { 
					width: 100px;
				}
			}
		
		}
		
		.navbar {
		@include respond(all-phones) {
			display: block;
		}
		}
		
	.mobile-menu {
		max-width: 40px;
		cursor: pointer;
	}	
		
	ul.navigation {
		float: left;
		margin-top: 35px;
		text-transform: uppercase;
		
		
		@include respond(all-phones) {
			border-top: 3px solid #f1f1f1;
			border-bottom: 3px solid #f1f1f1;
			margin-top: 57px;
			top:20px !important;
		}
		
	
		li {
			display:inline;
			margin-left: 50px;
			
			.contact-us {
				@include respond(desktop) {
					display: none !important;
					
					&:hover {
						background: none;
					}
				} 
			}
			
				@include respond(all-phones) {
					display: block;
					background: $dev-blue;
					border-bottom: 2px solid $lightblue;
					margin-left: 0;
				}
			
			a.jnav { 
				font-family: "Cabin-Italic"; 
				color: $lightblue; 
				@include font-size(24px);
				text-shadow: none;
				padding: 0;
				display: inline;
				
				&:hover {
					webkit-transition: border-bottom-color 200ms ease-in;
					-moz-transition: border-bottom-color 200ms ease-in;
					-o-transition: border-bottom-color 200ms ease-in;
					transition: border-bottom-color 200ms ease-in;
					border-bottom: 2px solid $green;
					background: transparent;
				}
				
				@include respond(all-phones) {
					color: $white;
					font-family: "Cabin-BoldItalic";
					}
				
				}
		}
	}
	
	.head-btn {
		margin-top: 41px;
		background: $green;
		width: 230px;
		height: 76px;
		float: right;
		
				@media screen and (max-width: 980px){
					display: none;
				}
	
			.contact-btn {
				font-family: "Cabin-SemiBoldItalic";
				@include font-size(24px);
				color: $btn-blue;
				text-transform: uppercase;
				text-align: center;
				position: relative;
				top: 23px;
				
		}
	}
	
		
   }
   
   
   .headline {
			text-align: center;
			margin-top: 65px;
			margin-bottom: 60px;
			
			p {
				@include font-size(20px);
				text-align: center;
			}
		}
  
   .contact-us {
   		height: auto;
		min-height: 610px;
		padding-bottom: 70px;
		
		@include respond(portrait-tablets) { 
    				height: auto;
					min-height: 300px;
					padding-bottom: 50px;
  				}
		
		
		form {
			
			input.field {
				background: $white;
				border: 0;
				padding: 10px;
				color: $dev-blue;
				display: block;
				width: 100%;
			}
			textarea.field {
				background: $white;
				border: 0;
				padding: 10px;
				color: $dev-blue;
				display: block;
				width: 100%;
				height: 100px;
				
			}
			button.submit {
				background: $green;
				width: 100%;
				color: $white;
				font-family: "Cabin-SemiBold";
				border: 0;
				height: 40px;
				@include font-size(20px);
				cursor: pointer;
			}
			
			.highlight {
				border: 2px solid #ff0000 !important;
				color: #ff0000 !important;
				background: #fdeaea !important;
			}
			
			.valid {
				border: 2px solid #39b304 !important;
			}
			
			#validationerror, #validemail {
				display: none;
				color: #ff0000;
			}
			
			#validemail {
				margin-bottom: 10px;
			}
		}
		
		.connect-with-us {
			text-align: right;
			
			@include respond(portrait-tablets) { 
    				text-align: center;
					margin-top: 60px;
					margin-bottom: 20px;
  				}
		}
   }
   
   .animation {
   		height: auto;
		min-height: 610px;
		padding-bottom: 50px;
		overflow: none;
		
		@include respond(portrait-tablets) { 
    				height: auto;
					min-height: 300px;
					padding-bottom: 50px;
  				}
		
		
		
		.break-space {
			padding-top: 50px;
			@include respond(portrait-tablets) { 
    				padding-top: 30px;
  				}
		}
		
		.firstline {
			text-align: center;
			margin-top: 65px;
			
			.fairytale {
				font-family: "Cabin-SemiBoldItalic";
				@include font-size(72px);
				
				@include respond(portrait-tablets) { 
    				@include font-size(32px);
  				}
			}
		}
		
		.secondline {
			text-align: center;
			
			h1 {
				font-family: "Cabin-SemiBoldItalic";
				@include font-size(72px);
				
				@include respond(portrait-tablets) { 
    				@include font-size(32px);
  				}
				}
		}
		
		.thirdline {
			text-align: center;
			
			.nightmare {
				font-family: "Cabin-SemiBoldItalic";
				@include font-size(72px);
				
				@include respond(portrait-tablets) { 
    				@include font-size(32px);
  				}
			}
		}
		
		p {
			@include font-size(28px);
			margin-top: 30px;
			text-align: center;
			
			@include respond(portrait-tablets) { 
    				@include font-size(20px);
  				}
			
			a {
				font-family: "Cabin-SemiBoldItalic";
				
						&:hover {
							color: $white;
							webkit-transition: border-bottom-color 200ms ease-in;
							-moz-transition: border-bottom-color 200ms ease-in;
							-o-transition: border-bottom-color 200ms ease-in;
							transition: border-bottom-color 200ms ease-in;
							border-bottom: 2px solid $green;
							background: transparent;
						}
			}
		}
   }
   
	h1 {
		font-family: "Cabin-Bold";
		@include font-size(54px);
		color: $lightblue;
		
				@include respond(portrait-tablets) { 
    				@include font-size(32px);
  				}
	}
	
	.mid-nav {
		background: $green;
		padding: 20px;
		.services {
			float: left;
			@include font-size(30px);
				@include respond(portrait-tablets) { 
    				@include font-size(15px);
  				}
		}
		
		ul li {
			float: left;
			display: inline;
			margin: 3px 0 0 30px;
		}
		
	}
	
	.service-desc {
  	  min-height: 620px;
	  height: auto;
	  
	  @include respond(portrait-tablets) {
	  	padding-bottom: 80px;
	  }
	    .desc{
			a {
				border-bottom: 2px solid #6dbe45;
				padding-bottom: 5px;
			}
			  div {
				float: left;
				width: 33%;
				
				ul {
					margin-bottom: 40px; 
					list-style-type:square !important;	
					margin-top: 15px;
				
					li {
						display: block;
					list-style-type:square !important;	
						font-family: "Cabin-Bold";
						margin-right: 10px;
						@include font-size(18px);
					}
				}
				
				@include respond(all-phones) {
					float: none;
					width: 100%;
				}
			  }
			  @include respond(all-phones) { 
					padding-top: 0 !important;
			  }
			 .right-align {
				float: right;
				
				@include respond(all-phones) {
					float: none;
					margin-left: 0;
				}
			  }
		}
	  
	  .title{
	  	margin-top: 80px;
		
	  		img {
				width: 100%;
				
			}
	  			@include respond(desktop) { 
    					position: relative;
						top: 60px;
						text-align: center;
  				}
				
				@include respond(all-phones) {
				margin-top: 80px;
				
					img {
						
						float: left;
					}
					h2 {
						float: left;
						padding-top: 7px !important;
						padding-left: 5px;
					}
					h2:after {
						clear: both;
					}
				}
	  
			h2 {
				@include font-size(30px);
				text-transform: uppercase;
				color: $white;
				font-family: "Cabin-Medium";
				padding-top: 30px;
				
				
				@include respond(all-phones) { 
    					@include font-size(29px);
  				}

			}
		}
		
	   .desc {
	   padding-top: 150px;
	   position: relative;
	   top: 25px;


	   
	   @include respond(portrait-tablets) {
	   		padding-bottom: 40px;
			height: auto;
			
			p {
				@include font-size(15px);
			}
	   }
	   
	   		h3 {
				@include font-size(25px);
				clear: both;
				
			}
	   }
	   
	   .learn-more {
	   		background: #f1f1f1;
			color: $btn-blue;
			margin-left: 20px;
	   }
	}
	
	.development {
		background: $dev-blue;

	}
	
	.design {
		background: $design-blue;
	}
	
	.digi-mark {
		background: $digimark-blue;
		
		&.contact-us-home {
			min-height: 420px !important;
			.title {
				h2 a {
					font-family: "Cabin-SemiBoldItalic";
					color: $white;
					webkit-transition: border-bottom-color 200ms ease-in;
					-moz-transition: border-bottom-color 200ms ease-in;
					-o-transition: border-bottom-color 200ms ease-in;
					transition: border-bottom-color 200ms ease-in;
					border-bottom: 2px solid $green;
					background: transparent;
				}
			}
			
			@include respond(all-phones) { 
				min-height: 0 !important;
			}
		}
	}

	footer {
		background: $black;
		height: auto;
		min-height: 150px;
		
		@include respond(all-phones) { 
    		@include font-size(15px);
  		}
		
		.phones .footer-content {
				float: none !important;
				@include respond(desktop) { 
    						display: none;
  						}
			}
		
		.copyright {
			float: right;
			position: relative;
			top: 50px;
			@include respond(all-phones) { 
    			text-align: center;
  			}
			
			
					  a img {
						display: block;
						border: 0;
						padding-bottom: 10px;
						
						@include respond(all-phones) { 
    						margin: auto;
  						}
					}
			
			span {
				margin-right: 15px;
				clear: both;
			
				a {
					color: #f2f2f2;
					
					&:hover {
						webkit-transition: border-bottom-color 200ms ease-in;
						-moz-transition: border-bottom-color 200ms ease-in;
						-o-transition: border-bottom-color 200ms ease-in;
						transition: border-bottom-color 200ms ease-in;
						border-bottom: 2px solid #f2f2f2;
						background: transparent;
					}
					

				}
			}
		}
	}
	
	.our-services {
		.service-desc {
			min-height: 520px;
			height: auto;
			
			.title {
				i {
					color: #000;
					font-size: 100px;
					
					@include respond(all-phones) { 
						float: left;
						font-size: 50px;
					}
				}
			}
			
			.desc {
				padding-top: 100px;
				ul {
					border-top: 2px solid #6dbe45;
					margin-bottom: 40px;
					padding-top: 20px;
					li {
						display: inline;
						margin-right: 15px;
						font-family: "Cabin-Bold";
						
						&:last-child {
							margin-right: 0;
						}
					}
				}
			}
		}
	}
	
	.about-us {
	
		height: auto;
		/* min-height: 310px; */
		
		.about-us-desc {
			padding-bottom: 60px;
			background: #f1f1f1;
			/* margin-top: 60px; */
		}
		
		li {
			text-align: center;
		}
		
		@include respond(portrait-tablets) { 
    				height: auto;
					min-height: 200px;
					padding-bottom: 50px;
  				}
				
		.content {
			color: #424242;
			margin-top: 60px;
			
			h2 {
				color: $lightblue;
				text-transform: uppercase;
				@include font-size(26px);
				margin-bottom: 60px;
			}
			
			p {
				@include font-size(20px);
				
			}
		}
				
	}
}

.preload.opacity {
	opacity: 0;
}

.preload.left {
	position: relative;
	left: 6000px;
	overflow-x: hidden;
}

.preload.right {
	position: relative;
	right: 6000px;
	overflow-x: hidden;
}