/* Fonts */

// Import Google Web Fonts
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);


// Set local icon font
@font-face {
  font-family: '#{$icons}';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/icons/#{$icons}.eot);
  src: url('../fonts/icons/#{$icons}.eot?#iefix') format('ie9-skip-eot'),
       url('../fonts/icons/#{$icons}.woff') format('woff'),
       url('../fonts/icons/#{$icons}.ttf')  format('truetype');
}

@font-face {
  font-family: '#{$thejimmo}';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/thejimmo/#{$thejimmo}.eot);
  src: url('../fonts/thejimmo/#{$thejimmo}.eot?#iefix') format('ie9-skip-eot'),
       url('../fonts/thejimmo/#{$thejimmo}.woff') format('woff'),
       url('../fonts/thejimmo/#{$thejimmo}.ttf')  format('truetype');
}

// To include your own, local copies of fonts, use the following template
//
//@font-face {
//  font-family: '#{$some-font-variable}';
//  font-style: normal;
//  font-weight: 400;
//  src: url(../fonts/icons/#{$some-font-variable}.eot);
//  src: url('../fonts/icons/#{$some-font-variable}.eot?#iefix') format('ie9-skip-eot'),
//       url('../fonts/icons/#{$some-font-variable}.woff') format('woff'),
//       url('../fonts/icons/#{$some-font-variable}.ttf')  format('truetype');
//}

[class^="icon-"], [class*=" icon-"], i {
	font-family: 'thejimmo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

i.code:before {
	content: "\e600";
}
i.design:before {
	content: "\e601";
}
i.digi-mark:before {
	content: "\e602";
}
