@font-face {
  font-family: "TheJimmoIco";
  src: url("../fonts/thejimmo/fonts/icomoon.eot");
  src: local("☺"),
    url("../fonts/thejimmo/fonts/icomoon.woff") format("woff"),
    url("../fonts/thejimmo/fonts/icomoon.otf") format("opentype"),
    url("../fonts/thejimmo/fonts/icomoon.svg#filename") format("svg");
  }
  
  @font-face {
		font-family: "Cabin-Regular";
		src: url("../fonts/cabin/Cabin-Regular.otf") format("opentype");
	}
	
  @font-face {
		font-family: "Cabin-Bold";
		font-weight: bold;
		src: url("../fonts/cabin/Cabin-Bold.otf") format("opentype");
	}
	
  @font-face {
		font-family: "Cabin-BoldItalic";
		font-weight: bold;
		src: url("../fonts/cabin/Cabin-BoldItalic.otf") format("opentype");
	}
	
	@font-face {
		font-family: "Cabin-Italic";
		src: url("../fonts/cabin/Cabin-Italic.otf") format("opentype");
	}
	
	@font-face {
		font-family: "Cabin-Medium";
		src: url("../fonts/cabin/Cabin-Medium.otf") format("opentype");
	}
	
	@font-face {
		font-family: "Cabin-MediumItalic";
		src: url("../fonts/cabin/Cabin-MediumItalic.otf") format("opentype");
	}
	
	@font-face {
		font-family: "Cabin-SemiBold";
		src: url("../fonts/cabin/Cabin-SemiBold.otf") format("opentype");
	}
	
	@font-face {
		font-family: "Cabin-SemiBoldItalic";
		src: url("../fonts/cabin/Cabin-SemiBoldItalic.otf") format("opentype");
	}
