// Welcome to Gumby 2.0 Settings.
// Happy Tinkering!


// Grid Settings
$row-max-width: 940px !default;    				// 940px
$gutter-in-px: 20px !default;      				// 20px
$cols: 12 !default;              				// 12 Column Default Grid
$hybrid: 16 !default;							// 16 Column Default Hybrid Grid

// Responsiveness Settings
$min-device-width: 320px; 						// iPhone Portrait
$tablet-device-width: 768px;					// iPad Portrait
$document-width: $row-max-width;				// Default Document
$max-device-width: 2880px;						// Max Document Size

// Spacing
$nav-distance: 0; 							// Navigation distance from the top of the viewport

// Typography
$font-family: "Cabin-Regular";
$font-style-italic: "Cabin-Italic";
$icons: entypo;
$font-smoothing: antialiased;
$thejimmo: "thejimmo";

// Font Weights
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 400;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-thin: 300;

$header-font-weight: $font-weight-thin;
$body-font-weight: $font-weight-regular;
$type-font-weight: $font-weight-regular;
$link-font-weight: $font-weight-regular;
$button-font-weight: $font-weight-semibold;
$tabs-font-weight: $font-weight-semibold;

// Vertical Rhythm Spacing
$base-line-height: ms(1) !default;
$rhythm-spacing: .168;
$rhythm-height: .711;

// Modular Scale Settings
// http://www.modularscale.com by Tim Brown
// https://github.com/scottkellum/modular-scale
$ratio: golden();						// Ratio for Modular Scale
$base-font-size: 16px !default;
$importantNum: 78px !default;
$base-size: $base-font-size $importantNum;
// Gumby Default Scale Values: 16, 18, 26, 30, 42, 48, 68, 78, 110, 126;

// Sizing
$xsmall: ms(-2);
$small: ms(-1);
$norm: ms(0);									// $base-font-size (16px == default)
$med: ms(1);
$large: ms(2);
$larger: ms(3);
$xlarge: ms(4);
$xxlarge: ms(5);
$xxxlarge: ms(6);
$reallybig: ms(8);
$tremendous: ms(9);
$absurd: ms(10);

// Typography Colors
$header-font-color: #ffffff !default;
$header-link-color: #ffffff !default;
$header-link-hover-color: #ffffff !default;
$body-font-color: #ffffff !default;
$body-link-color: #ffffff !default;
$body-link-hover-color: #ffffff !default;

// User Interface Colors
$global-bg-color: #fff;
$navbar-color: #fff;
$navbar-link-color: #00aeef;

$primary-color: #3085d6;
$secondary-color: #42a35a;
$default-color: #f2f2f2;
$info-color: #4a4d50;
$danger-color: #ca3838;
$warning-color: #f6b83f;
$success-color: #58c026;

$primary-hover-color: #58b2fa;
$secondary-hover-color: #6dbb80;
$default-hover-color: #ffffff;
$info-hover-color: #868d92;
$danger-hover-color: #f14f4f;
$warning-hover-color: #fdd27f;
$success-hover-color: #66d92f;

$horizontal-rule-color: #ccc !default;

$black: #000;
$white: #fff;

// Borders
$button-radius: 4px !default;
$metro-radius: 0 !default;
$bigger-radius: 8px;

// Buttons
// Font Sizing
$xlarge-button-font-size: $larger;
$large-button-font-size: $large;
$medium-button-font-size: $norm;
$small-button-font-size: $small;
// Padding
$default-button-padding: $med;
// Height
$default-button-height: 36px;

// Form Elements
$form-text-input-stroke: #ccc;
$form-text-input-background: $white;
$form-text-input-placeholder-color: $default-color;
$form-text-input-color: #555;

$form-select-stroke: #ccc;
$form-select-background: $white;
$form-select-color: #555;

// Tabs
$tab-height: 42px;

// Navigation
$navcontain-height: 80px; // makes space at the top of a document for when using a fixed nav

// Drawers & Modals
$modal-overlay-color: rgba(0, 0, 0, 0.8);
$modal-window-color: $white;
$drawer-background-color: #3e4144;
$drawer-inner-shadow-x-offset: 0;
$drawer-inner-shadow-y-offset: 2px;
$drawer-inner-shadow-blur: 5px;
$drawer-inner-shadow-color: #313436;

// Tables
$table-bgcolor: #fff;
$table-thead-bgcolor: $primary-color;
$table-row-first-cell-font-weight: bold;
$table-border-size: 1px;
$table-border-style: solid;
$table-border-color: #e5e5e5;
$table-cell-border-size: 1px;
$table-cell-border-color: #e5e5e5;
$table-cell-border-style: solid;
// .rounded
$table-border-radius: 4px;
// .striped
$table-stripe-bgcolor: #e5e5e5;

// Tooltips
$tt-min-width: 130px;
$tt-bgcolor: $primary-color;
$tt-position: top;					// position: top / bottom / left / right
$tt-align: left;					// text and caret alignment: left / right
$tt-pretty: yes;					// yes = pretty / no = flat

// Floats
$default-float: left;
$switch-float: right;

